node_modules/
.expo/
dist/
web-build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env

*.html

*.sql

# Keystore & temp files (never commit)
*.keystore
*.b64
set_secrets.js
